.six-dialog{
  width: 805px;
  min-height: 535px;
  background-image: url("../../resource/pic/six/对话.png");
  margin: 100px auto 0px;
  background-repeat: no-repeat;

}
.six-flex-container{
  display: flex;
  flex-direction: column;
  //background: antiquewhite;
  height: calc((100vh) - 220px);
  align-items:center;
  div{
    flex: 1;
  }
}
.six-word{
  position: absolute;
  bottom: 233px;
  left: calc((100% - 708px)/2)
}
.six-diamond{
  min-height: 535px;
  text-align: center;
  margin-top: 200px;
  padding-right: 100px;
}
.six-superman{
  position: absolute;
  right: 0px;
  bottom: 500px;
}